[project]
	description = java implementation of NMEA 0183 coder/decoder, along with transportation support
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yining Chen (ianynchen)
[access "refs/for/refs/*"]
	read = group user/Yining Chen (ianynchen)
	push = group user/Yining Chen (ianynchen)
	label-Code-Review = -2..+2 group user/Yining Chen (ianynchen)
	label-Verified = -1..+1 group user/Yining Chen (ianynchen)
	rebase = group user/Yining Chen (ianynchen)
	removeReviewer = group user/Yining Chen (ianynchen)
	submit = group user/Yining Chen (ianynchen)
[access "refs/heads/*"]
	read = group user/Yining Chen (ianynchen)
	create = group user/Yining Chen (ianynchen)
	push = +force group user/Yining Chen (ianynchen)
	pushMerge = group user/Yining Chen (ianynchen)
[access "refs/tags/*"]
	push = +force group user/Yining Chen (ianynchen)
	pushTag = group user/Yining Chen (ianynchen)
	pushSignedTag = group user/Yining Chen (ianynchen)
